

body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(36, 36, 36);
height: 100%;
}

h1{
    color: rgb(122, 122, 122);
    font-family: monospace;
    font-size: 7rem;
    align-self: auto;
    text-align: center;
    font-weight: bold;
    transition: 1s;
    margin: 20px
}
.header{
    grid-row: 1;
    /*background-color: rgb(29, 28, 28);;*/
}
.container{
 
     height: 100%;
      display: grid;  
}
.meme{
    justify-content: center;
    align-items: center;
}
#note{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    color: grey
}
.outside {
    height: 30px;
    position: relative;
    border: 3px grey;
  }

.memeimage{
    border-radius: 15px;
}
.center{
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.container{
    
    left: 50%;
    right: 50%;
    display: grid;
    place-items: center;
    grid-gap: 30px;
    height: 100%
}

a{
    text-decoration: none;
}
.github{
  height: 88px;
  max-width: 100%;
}
.youtube{
  height: 75px;
  max-width: 100%;
 
}
.linkedin{
    height: 80px;
    max-width: 100%;
    border-width: 3px;
  }
  
  #btn:hover {
    transform: translateY(-12px);
  }

#btn{
    transition: transform 0.4s;
}

.showtext{
text-align: center;
font-size: 50px;
}



.hidden{
    display:none;
}

.circle{
    --circle-size: 75px;
    position: absolute;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 7px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    transition: 0.01s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
}

.message{
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    padding-top: 95px;
    text-align: center;
}