*{
    background-color: rgb(36,36, 36);
    font-family: Arial, Helvetica, sans-serif;
}
div{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.container{
    height: 120px;
    position: relative;
    
}
.center{
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    border-radius: 25px;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 90px;
    color: rgb(36,36,36);
    background-color: rgb(122,122,122);
    border-width: 0;
    text-decoration: solid;
}
.aboutme{
    font-weight: bold;
    font-family: monospace;
    font-size: 37px;
    color:rgb(122,122,122);
    text-align: center;
}
.goback{
    border-width: 0px;
    color: rgb(122,122,122);
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
}
.container2{
    height: 300px;
    position: relative;
    
}
.center2{
    margin: 0px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}