
body{
font-family: Arial, Helvetica, sans-serif;
background-image: linear-gradient(rgb(44, 13, 13),rgb(22, 12, 60), rgb(35, 11, 40));
height: 100vh;
width: 100vw;
}

h1{
    color: rgb(122, 122, 122);
    font-family: monospace;
    font-size: 7rem;
    align-self: auto;
    text-align: center;
    font-weight: bold;
    transition: 1s;
    margin: 1.25rem;
}
.header{
    grid-row: 1;
    width: 100vw;
}
.container{
 
      display: grid;  
}
.meme{
    justify-content: center;
    align-items: center;
}
#note{
    font-size: 1.1875rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    color: grey
}
.outside {
    height: 1.875rem;
    position: relative;
    border: 0.1875px grey;
  }

.memeimage{
    border-radius: 15px;
}
.center{
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.container{
    
    left: 50%;
    right: 50%;
    display: grid;
    place-items: center;
    grid-gap: 2rem;
}

a{
    text-decoration: none;
}
.github{
  height: 5.5rem;
  max-width: 100%;
}
.youtube{
  height: 4.6875rem;
  max-width: 100%;
 
}
.linkedin{
    height: 5.125rem;
    max-width: 100%;
    border-width: 0.1875rem;
  }
  
  #btn:hover {
    transform: translateY(-0.75rem);
  }

#btn{
    transition: transform 0.4s;
}

.showtext{
text-align: center;
font-size: 3.125rem;
}



.hidden{
    display:none;
}

.circle{
    --circle-size: 4.6825rem;
    position: absolute;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 0.4375rem solid rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    transition: 0.01s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.5;
}

.message{
    font-weight: bold;
    font-family: monospace;
    font-size: 1.875rem;
    padding-top: 5.9375rem;
    text-align: center;
}

.logo{
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

}