*{
    background-color: rgb(88, 88, 88);
}
div{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.back{
    color: red;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 75;
    color: bisque;
}
.button1{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30;
    background-color: rgb(41, 41, 41);
    color: rgb(105, 105, 105);
}

.button2{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    font-size: 30;
    background-color: rgb(41, 41, 41);
    color:blue
}
.button3{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    font-size: 30;
    background-color: rgb(41, 41, 41);
    color:black;
}
button{
    border: 0;
}
.aboutme{
    font-weight: 300;
    font-family: monospace;
    font-size: 30;
    color:rgb(255, 239, 187)
}
.links{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25;
}