*{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(36, 36, 36);
}

h1{
    color: rgb(122, 122, 122);
    font-family: monospace;
    font-size: 7rem;
    align-self: auto;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}
.header{
    grid-row: 1;
    /*background-color: rgb(29, 28, 28);;*/
}
.container{
 
    height: 100vmax;
      display: grid;
      grid-template-rows: repeat(4, 250px);     
}
.meme{
    justify-content: center;
    align-items: center;
    margin: 15px;

}
#note{
    padding-bottom: 60px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    color: grey
}
.outside {
    height: 30px;
    position: relative;
    border: 3px grey;
  }

.memeimage{
    border-radius: 15px;
}
.center{
    margin: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.container{
    
    left: 50%;
    right: 50%;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
}
.github{
  height: 88px;
  max-width: 100%;
}
.youtube{
  height: 75px;
  max-width: 100%;
 
}
.linkedin{
    height: 80px;
    max-width: 100%;
    border-width: 3px;
  }
  
  #btn:hover {
    transform: translateY(-12px);
  }

#btn{
    transition: transform 0.4s;
}

.showtext{
text-align: center;
font-size: 50px;
}



.hidden{
    display:none;
}